@import "../../global.scss";

.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../../../public/assets/background-image.png");
  background-size: contain;

  a{
    position: absolute;
    bottom: 25px;

    img{
      width: 30px;
      animation: arrowBlink 1.5s infinite;
    }

    // @keyframes controls steps after animation
    @keyframes arrowBlink{
      to{ // this means after 2s the arrow will turn transparent, "to" and "100%" interchangeable
        opacity: 0;
      }
    }
  }

  h1{
    font-size: 36px;
    top: 50px;
    // position: absolute;
  }

  ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item{
      width: 280px;
      height: 160px;
      border-radius: 5px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      h3{
        position: absolute;
        font-size: 20px;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1; // so that h3 will be behind img
      }

      &:hover{
        background-color: $mainColor;

        img{
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}