@import "../../global.scss";

.sidebar{
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -300px; // so it is hidden since width is 300px
  z-index: 2; // less than navbar z-index
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  transition: all 1s ease;

  &.active{
    right: 0; // when menuOpen is true, will show the sidebar
  }
}